.elel{
    margin: 0;
    padding: 0;
    /* background: url(tini.jpg); */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms-box{
    max-width: 400px;
    background-color: #111;
    color: #fff;
    font-family: "Montserrat";
    padding: 60px 30px;
}

.terms-text{
    padding: 0 20px;
    height: 400px;
}