.contactt{
    align-items: center;
    justify-content: center;
    display: flex;
}
.c_container{
    height: 60vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
/* .c_container div, .c_container h3{
	color: white;
}
h1{
	color: white;
} */
